@import "./../../constants//variables.scss";

.fon {
  background-image: url(./../../assets/images/list_bg.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px 10px;
}

.wrp {
  padding: 20px 10px;
}

.title {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $colorBlack;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.subtitle {
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: $colorBlackTransparent;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.accent {
  color: $colorAccent;
  font-weight: 700;
}

.list {
  display: grid;
  // justify-items: center;
  // grid-column-gap: 20px;
  margin: 0;
  // padding: 0;
  // padding-left: 20px;
  // list-style: none;
  grid-template-columns: repeat(1, 1fr);
}

.item {
  color: $colorBlack;
  text-align: left;

  margin-bottom: 5px;
  font-weight: 700;
}

@media (min-width: $breakPointWidthTb) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }

  .subtitle {
    margin-bottom: 40px;
  }
}

@media (min-width: $breakPointWidthDs) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
