@import "./../../constants/variables.scss";

.header {
  background-image: url(./../../assets/images/fon2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  z-index: 20;
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    --gran: 55%;
    --gran2: 50%;

    $colorLights: transparentize($colorBlackTransparent, 0.2);

    background: linear-gradient(
        78deg,
        transparent,
        transparent var(--gran),
        $colorBlackTransparent calc(var(--gran) + 2px),
        $colorBlackTransparent
      ),
      linear-gradient(
        78deg,
        transparent,
        transparent var(--gran2),
        $colorLights calc(var(--gran2) + 2px),
        $colorLights calc(var(--gran) + 1px),
        transparent calc(var(--gran) + 2px)
      );
  }
}

.contact {
  // width: 50%;
  min-width: 280px;
  // margin-left: auto;

  &Wrp {
    // display: flex;
  }
}

.title {
  font-size: 40px;
  color: $colorWhite;
  letter-spacing: 2px;
}
.form {
  background-color: $colorFooter;
  border: 1px solid $colorWhite;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  margin: auto;

  .title {
    text-align: center;
    color: $colorAccent;
    margin: 0;
    padding: 0;
  }

  .subtitle {
    margin: 0;
    text-align: center;
    color: $colorWhite;
    margin-bottom: 20px;
  }

  .field {
    background: none;
    border: none;
    padding: 20px;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    background-color: $colorCopyrate;
    color: $colorWhite;
    letter-spacing: 1px;

    &::placeholder {
      letter-spacing: 1px;
    }
  }
  .submit {
    width: 100%;
    background: none;
    background-color: $colorAccent;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: $colorWhite;
    letter-spacing: 1px;
    padding: 15px 0;
    overflow: hidden;
    position: relative;
    &::before,
    &::after {
      content: "";
      transition: all 0.2s;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateX(-90%) skewX(-40deg);
      background-color: transparentize($colorWhite, 0.9);
    }

    &::before {
      transform: translateX(90%) skewX(-40deg);
    }
    &:hover {
      transform: scale(1);
      &::after {
        transform: translateX(-50%) skewX(-40deg);
      }
      &::before {
        transform: translateX(50%) skewX(-40deg);
      }
    }
  }
}

.list {
  list-style: none;
  margin: 0;
}

.item {
  margin-bottom: 10px;
}

.link {
  font-size: 24px;
  color: $colorWhite;

  span {
    margin-right: 10px;
    font-size: 34px;
  }
}

@media (min-width: $breakPointWidthTb) {
  .contact {
    &Wrp {
      padding-top: 8%;
      display: flex;
      align-items: center;
      > * {
        width: 50%;
      }
    }
  }
}
