@import "./../../constants/variables.scss";

.conteiner {
  width: $containerWidthMb;
  margin: auto;
  padding: 0 10px;
}

@media (min-width: $breakPointWidthTb) {
  .conteiner {
    width: $containerWidthTb;
  }
}

@media (min-width: $breakPointWidthDs) {
  .conteiner {
    min-width: $containerWidthDs;
    width: $containerWidthDs;
  }
}
