// Цвета
$colorWhite: #fff;
$colorBlack: #000;
$colorAccent: #ff501f;
// $colorAccent: #ec0712;
$colorLight: #f4f3f8;
$colorFooter: #141414;
$colorCopyrate: #191919;
$colorBlackTransparent: transparentize($colorBlack, 0.2);

// Шрифты
$bebas: "Bebas Neue", sens-serif;

// Размеры
$breakPointWidthMb: 320px;
$breakPointWidthTb: 748px;
$breakPointWidthDs: 1200px;

// Тчоки перелома
$containerWidthMb: 300px;
$containerWidthTb: 728px;
$containerWidthDs: 65%;
