// Цвета
$colorWhite: #fff;
$colorBlack: #000;
$colorAccent: #ec0712;
$colorLight: #f4f3f8;
$colorBlackTransparent: transparentize($colorBlack, 0.2);

// Размеры
$breakPointWidthMb: 320px;
$breakPointWidthTb: 640px;
$breakPointWidthDs: 1200px;

$containerWidthMb: 320px;
$containerWidthTb: 728px;
$containerWidthDs: 65%;
