# запускаем правила
RewriteEngine on
RewriteBase /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP
RewriteRule ^([^.]+)\.html$ /$1 [R=301,L]
RewriteCond %{REQUEST_URI} !(\.[^./]+)$
RewriteCond %{REQUEST_fileNAME} !-d
RewriteCond %{REQUEST_fileNAME} !-f
RewriteRule (.*) /$1.html

#перенаправить на HTTPS
#RewriteCond %{SERVER_PORT} !^443$
#RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

# kill WWW с УРЛ сайта
#RewriteCond %{SERVER_PORT} ^80$ [OR]
#RewriteCond %{HTTP} =on
#RewriteRule ^(.*)$ https://url.ru/$1 [R=301,L]

# направляем на страницу ошибки 404
ErrorDocument 404 /404.html

# Убираем вконце слеш

# убираем слэш в конце адреса
RewriteBase /
RewriteCond %{REQUEST_URI} .+/$ [NC]
RewriteRule ^(.+)(/)$ $1 [L,R=301]