@import "./../constants/variables.scss";

* {
  box-sizing: border-box;
  transition: all 0.2s;
  outline: none;
  :active {
    outline: none;
  }
  :hover {
    outline: none;
    text-decoration: none;
  }
}

button {
  background-color: $colorAccent;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  &:active {
    transform: scale(0.9);
  }
}
