@font-face {
  font-family: "Bebas Neue";
  src: url(/fonts/BebasNeue/BebasNeueRegular.eot);
  src: local("Bebas Neue Regular"), local("BebasNeueRegular"),
    url(/fonts/BebasNeue/BebasNeueRegular.eot?#iefix)
      format("embedded-opentype"),
    url(/fonts/BebasNeue/BebasNeueRegular.woff) format("woff"),
    url(/fonts/BebasNeue/BebasNeueRegular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url(/fonts/BebasNeue/BebasNeueBold.eot);
  src: local("Bebas Neue Bold"), local("BebasNeueBold"),
    url(/fonts/BebasNeue/BebasNeueBold.eot?#iefix) format("embedded-opentype"),
    url(/fonts/BebasNeue/BebasNeueBold.woff) format("woff"),
    url(/fonts/BebasNeue/BebasNeueBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url(/fonts/BebasNeue/BebasNeueLight.eot);
  src: local("Bebas Neue Light"), local("BebasNeueLight"),
    url(/fonts/BebasNeue/BebasNeueLight.eot?#iefix) format("embedded-opentype"),
    url(/fonts/BebasNeue/BebasNeueLight.woff) format("woff"),
    url(/fonts/BebasNeue/BebasNeueLight.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url(/fonts/BebasNeue/BebasNeue-Thin.eot);
  src: local("Bebas Neue Thin"), local("BebasNeue-Thin"),
    url(/fonts/BebasNeue/BebasNeue-Thin.eot?#iefix) format("embedded-opentype"),
    url(/fonts/BebasNeue/BebasNeue-Thin.woff) format("woff"),
    url(/fonts/BebasNeue/BebasNeue-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url(/fonts/BebasNeue/BebasNeueBook.eot);
  src: local("Bebas Neue Book"), local("BebasNeueBook"),
    url(/fonts/BebasNeue/BebasNeueBook.eot?#iefix) format("embedded-opentype"),
    url(/fonts/BebasNeue/BebasNeueBook.woff) format("woff"),
    url(/fonts/BebasNeue/BebasNeueBook.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
