@import "./../../constants/variables.scss";

.button {
  background-color: $colorAccent;
  color: $colorWhite;
}

.wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  > * {
    margin-bottom: 20px;
  }

  .logoWrp {
    // width: 200px;
    text-align: center;
    min-width: 280px;
    height: auto;
  }
  .logo {
    width: 200px;
  }

  .modalBtn {
    background-color: $colorAccent;
    border: none;
    padding: 15px 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: $colorWhite;
    letter-spacing: 0.98px;
    border-radius: 8px;
  }

  .iconGroup {
    display: flex;
    align-items: center;
    min-width: 280px;
    a {
      color: $colorWhite;
      font-size: 20px;
      &:hover {
        text-decoration: none;
        color: $colorAccent;
      }
      svg {
        fill: $colorWhite;
        $w: 30px;
        width: $w;
        height: $w;

        &:hover {
          fill: $colorAccent;
        }
      }
    }
  }
}

@media (min-width: $breakPointWidthTb) {
  .wrp {
    justify-content: space-between;

    > * {
      margin: 0;
    }

    .logoWrp {
      text-align: left;
    }
  }
}

.submit {
  background-color: $colorAccent;
  color: $colorWhite;
}
