@import "./../../constants/variables.scss";

.fluid {
  background-image: url(./../../assets/images/calc_bg.jpg);
  background-color: $colorCopyrate;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  padding: 40px 10px;
  display: flex;
  flex-wrap: wrap;
  > * {
    width: 100%;
  }
}

.button {
  color: $colorWhite;
  background-color: $colorAccent;
}

.calc {
  background-color: $colorBlack;
  padding: 20px;
  border: 1px solid $colorWhite;
  border-radius: 8px;
  width: 100%;
  margin: auto;

  &Wrp {
    order: 2;
  }

  .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: $colorWhite;
    font-weight: 700;
    span {
      color: $colorAccent;
      display: block;
    }
  }
}

.field {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  background: none;
  background-color: $colorCopyrate;
  border: none;
  font-size: 16px;
  color: $colorWhite;
  padding: 10px;
}

.fileList {
  margin-bottom: 20px;

  .icon {
    $width: 40px;
    box-sizing: content-box;
    // border: 1px solid $colorAccent;
    // border-radius: $width;
    // padding: 10px;
    margin-right: 10px;
    fill: $colorAccent;
    width: $width;
    height: $width;
  }

  .fileInput {
    display: none;
  }

  .errFile {
    font-style: italic;
    color: red;
  }

  .label {
    color: $colorWhite;
    // text-align: center;
    // width: 100%;
    // display: block;
    &:hover {
      cursor: pointer;
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
  > * {
    width: calc(50% - 10px);
    flex-shrink: 0;
  }
}

.submit {
  width: 100%;
  background: none;
  background-color: $colorAccent;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: $colorWhite;
  letter-spacing: 1px;
  padding: 15px 0;
  overflow: hidden;
  position: relative;
  &::before,
  &::after {
    content: "";
    transition: all 0.2s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(-90%) skewX(-40deg);
    background-color: transparentize($colorWhite, 0.9);
  }

  &::before {
    transform: translateX(90%) skewX(-40deg);
  }
  &:hover {
    transform: scale(1);
    &::after {
      transform: translateX(-50%) skewX(-40deg);
    }
    &::before {
      transform: translateX(50%) skewX(-40deg);
    }
  }
}

.accent {
  color: $colorAccent;
}

.discription {
  order: 1;
  color: $colorWhite;
  .title {
    text-transform: uppercase;
    font-weight: bold;
    color: $colorWhite;
    font-size: 24px;
    text-align: center;
  }

  .list {
    list-style: none;
    padding-left: 0;

    font-size: 18px;

    p {
      margin: 0;
    }

    .icon {
      flex-shrink: 0;
      fill: $colorAccent;
      $size: 40px;
      width: $size;
      height: $size;
      margin-right: 10px;
    }

    li {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }
  }
}

.spacer {
  // text-align: left;
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  height: 3px;
  background-color: $colorAccent;
  $pos: 10%;
  $pos2: $pos + 3%;
  background: linear-gradient(
    to right,
    $colorAccent,
    $colorAccent $pos,
    transparentize($colorAccent, 1) $pos,
    transparentize($colorAccent, 1) $pos2,
    $colorAccent $pos2,
    $colorAccent
  );
  transform: skewX(40deg);
}

.mes {
  background-color: $colorFooter;
}

@media (min-width: $breakPointWidthTb) {
  .wrapper {
    > * {
      width: 50%;
    }
  }

  .calc {
    width: 60%;
    min-width: 290px;
  }

  .calcWrp {
    order: 1;
    .title {
      font-size: 30px;
    }
  }

  .discription {
    order: 1;

    .title {
      font-size: 30px;
      text-align: left;
      width: 90%;
    }

    .list {
      font-size: 18px;
    }
  }

  .spacer {
    margin: initial;
  }
}
@media (min-width: $breakPointWidthDs) {
  .discription {
    .list {
      font-size: 20px;
      .icon {
        margin-right: 20px;
      }
    }
  }
}
