@import "./../../constants/variables.scss";

// Строка

// .prefooterWrp {
// }

.sendButton {
  background-color: $colorAccent;
  color: $colorWhite;
}

.prefooter {
  width: $containerWidthMb -20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  > * {
    width: 100%;
  }
}

.boxTitle {
  order: 2;
  text-align: center;
  margin-bottom: 20px;

  .title {
    color: $colorAccent;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 0;
  }

  .subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    color: $colorBlack;
  }
}

.boxBtn {
  order: 3;
  //   width: 100%;
  margin: auto;
  position: relative;
  &::after {
    content: "";
    background-color: $colorAccent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 6px;
    right: 6px;
    z-index: 1;
    transform: skewX(13deg);
  }
  .button {
    display: block;
    margin: auto;
    position: relative;
    z-index: 2;
    width: 100%;
    color: $colorWhite;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    padding: 12px 0;
    overflow: hidden;
    background: none;

    &:hover {
      transform: none;

      &::after {
        transform: translateX(-50%) skewX(-60deg);
      }

      &::before {
        transform: translateX(50%) skewX(-60deg);
      }
    }

    &::after,
    &::before {
      transition: all 0.4s;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: transparentize($colorWhite, 0.9);
      transform: translateX(-90%) skewX(-40deg);
    }

    &::before {
      transform: translateX(90%) skewX(-40deg);
    }
  }
}

.submit {
  background-color: $colorAccent;
  color: $colorWhite;
}

.boxImg {
  order: 1;
}

// Footer logo

.logoBox {
  text-align: center;
  padding: 20px 0;
  background-color: $colorFooter;
  .logo {
    height: 70px;
  }
}

// Footer menu

.menuWrp {
  background-color: $colorFooter;
  border-bottom: 1px solid transparentize($colorLight, 0.8);
  padding: 10px 0;
  padding-bottom: 30px;

  .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: 100%;
      text-align: center;

      &__link {
        padding: 3px 0;
        display: block;
        letter-spacing: 1px;

        text-transform: uppercase;
        color: $colorWhite;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

// Footer Nomera

.number {
  background-color: $colorFooter;
  .wrp {
    padding: 50px 0;

    .border {
      height: 100px;
      max-width: 600px;
      margin: auto;
      border: 10px solid transparentize($colorLight, 0.9);
      position: relative;
      .link {
        position: absolute;
        left: 50%;
        top: 0;
        font-size: 22px;
        white-space: nowrap;
        transform: translate(-50%, -60%);
        color: $colorLight;
        background-color: $colorFooter;
        letter-spacing: 1px;
        padding: 5px 20px;
        box-shadow: 0 0 15px 10px $colorFooter;
        &:hover {
          text-decoration: none;
        }
      }

      .iconBox {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 0;
        transform: translateY(60%);
        white-space: nowrap;
        a {
          margin: 10px;
          background-color: $colorFooter;
          border: 2px solid $colorAccent;
          border-radius: 30px;
          padding: 10px;

          svg {
            fill: $colorAccent;
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

// Footer Копирайт

.copyrate {
  background-color: $colorCopyrate;
  .wrp {
    padding: 20px 0;
    // display: flex;

    // flex-wrap: wrap;
    display: grid;
    grid-template-areas: "arrow" "year" "develop";
    align-items: center;
    text-align: center;

    .year {
      grid-area: year;
    }

    .developer {
      grid-area: develop;
      a {
        color: $colorAccent;
        text-decoration: none;
      }
    }

    .arrow {
      grid-template-areas: arrow;
      a {
        padding: 5px;
        border: 1px solid $colorAccent;
        border-radius: 30px;
        // border-color: $colorAccent;
        // border-width: 1px;
        // border-style: solid;
        svg {
          color: $colorAccent;
          // fill: $colorAccent;
          // stroke: $colorAccent;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

@media (min-width: $breakPointWidthTb) {
  .prefooter {
    width: $containerWidthMb;
    margin: auto;
  }

  .logoBox {
    padding: 30px 0;
    background-color: $colorFooter;
    .logo {
      height: 100px;
    }
  }

  .menuWrp {
    .menu {
      justify-content: center;
      &__item {
        width: initial;
        &__link {
          padding: 10px;
        }
      }
    }
  }

  .copyrate {
    .wrp {
      grid-template-areas: "year develop arrow";
      grid-template-columns: repeat(3, 1fr);

      .year {
        grid-area: year;
        text-align: left;
      }

      .developer {
        grid-area: develop;
      }

      .arrow {
        grid-template-areas: arrow;
        text-align: right;
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

@media (min-width: $breakPointWidthDs) {
  .prefooter {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    > * {
      width: initial;
    }
  }

  .boxTitle {
    order: 1;
    text-align: left;
    .title {
      font-size: 38px;
    }
    .subtitle {
      font-size: 32px;
    }
  }
  .boxBtn {
    order: 2;
    flex-shrink: 0;
    .button {
      font-size: 24px;
      padding: 10px 50px;
    }
  }

  .boxImg {
    width: 350px;
    order: 3;
  }
}
